---
description: "Install description."
title: "Install"
---

{namespace pageDocsInstall}

/**
 *
 */
{template .render}
	{call docs.render data="all"}
		{param content kind="html"}
			<h2>Install</h2>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Curabitur nulla libero, eleifend in euismod eget, fringilla id
				diam. Proin quis interdum ipsum. Fusce eros metus, hendrerit ut
				egestas nec, sagittis id velit.
			</p>
		{/param}
	{/call}
{/template}
