{namespace docs}

/**
 * @param site
 */
{template .render}
	{call main.render data="all"}
		{param content kind="html"}
			{call Sidebar.render}
				{param items: $site.index.children[0].children /}
			{/call}

		{/param}
		{param elementClasses: 'docs' /}
	{/call}
{/template}
