{namespace main}

/**
 * @param content
 * @param? elementClasses
 */
{template .render}
	<div class="{$elementClasses ? 'chicote' : 'main cacafuti'}">
		<main class="content">
			{call Topbar.render data="all" /}

			{$content}
		</main>
	</div>
{/template}
